@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
        --color-line: 240 240 240;
        --color-background: 256 256 256;
        --color-dimmed-text: 176 179 187;
        --color-today: 240 167 196;
        --color-light-text: 256 256 256;
        --color-normal-text: 88 88 93;
    }
}
